@import '../abstracts/mixins';

#carouselExampleIndicators{
    @include layoutSize(1296px);
}

.carousel-img{
    height: 500px;
    width: 100%;
    object-fit: cover;

    @include mobile{
        height: 400px;
    }
}

#penguin-img{
    object-position: center top;
}





