// Formulario

label{
    margin-bottom: .5rem;
    display: inline-block;
}

.form-row{
    display: flex;
}

// Redes sociales

#container-rrss{
    padding-top: 1rem;
}

.contact-rrss{
    display: flex;
    align-items: center;
}

.text-icon{
    padding-top: 1rem;
    padding-left: 1rem;
}