@import '../abstracts/mixins';


.testimony{
    @include layoutSize(1296px);

    &__title{
        text-align: center;
        padding: 1rem 0 1rem;
    }

    &__container{
        display: flex;
        justify-content: center;
        gap: 8rem;
        border-top: 2px solid $white;
        margin-bottom: 2rem;

        @include mobile{
        flex-wrap: wrap;
        gap: 1rem;
        }
    }

    &__user{
        padding-top: 2rem;
    }

    &__text{
        width: 250px;
        text-align: center;
    }

    &__name{
        text-align: center;
    }

    &__img{
        border: 1px solid $white;
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
        position: relative;
        left: 30%;
    }
}
